__pycache__
envcrypto
OLD
*.bak
*.mwb
DB_install and tests.py
index_sensible_key_heroku_id.py
index_sensible_key.py
test.env

test_get_list.py
crypto_list_new.py
app_copy.py

access.txt
get_credit.py




app_copy copy.py

static/pictures/History.png
static/pictures/History2.png

test.py