/* Charte graphique 
Fonts : 
    Titre : Roboto bolt
    Autre : Roboto regular

Colors :
    #100f0f (noir)
    #efefef (gris clair)
    #1fc36c (vert)
    #FF9586 (red for tendance)  */

body{
    background-color: #100f0f ;
    font-family: 'Roboto', sans-serif;
    color: #efefef;
}
h1{
    font-size: x-large;
    padding: 10px;
    text-align: center;
    display: inline;
    font-family: 'Roboto'; /*TODO check application de cette police*/
}

/* INPUT */
input, select{
    color : #1fc36c;
    background-color: #0f100f;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    padding: 10px;
    margin: 2px 0;
    min-width: 80%;
    border-radius: 4px;
    border-color: #1fc36c;
    border-style: solid;
    border-width: 1px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}
input:disabled{
    color:#efefef;
    background-color:#0f100f;
    border-color: #efefef;
    border-width: 1px;
}
input:focus{
    background-color: #454545;
    border-color: #1fc36c;
}
.centre{
    text-align: center;
}
.margin_bottom{
    margin-bottom: 20px;
}

/* BLOCK */
.block {
    display: block;
}

/*Mise en forme diverses*/
.text_1,.text_2, .text_3{
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    padding: 0.8em 0;
}
.text_2{
    font-size: 1.5em;
    padding: 1.5em 0;
    font-weight: bold;
}
.text_3{
    font-size: 1.2em;
    padding: 1em 0;
}

.paramA{
    position: fixed;
    right: 10px;
    top: 10px;
}
.paramB{
    display: inline;
}

.top_ban{
    left:0;
    top:0;
    position: fixed;
    background-color:#0f100f;
    width: 100%;
    padding: 10px;   
}

.margetop{
    margin:60px 0 0 0;
}

/*BUTTON*/
.button, .button_r, .button_g, .button_bigger_r, .button_bigger_g, .button_br,.button_bb {
    background-color: #1fc36c;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
    /*display: block;*/
}
.button_bigger_r, .button_bigger_g{
    padding: 13px 10px;
    margin: 25px 0px;
    min-width: 80%;
}
.button:hover {
    background-color: #1a9a55;
}
.button_r, .button_bigger_r {
    background-color: #FF9586;
}
.button_r:hover, .button_bigger_r:hover {
    background-color: #db3e33;
}
.button_br,.button_bb {
    background-color: #100f0f;
    color:white;
}
.button_g, .button_bigger_g {
    background-color: #efefefb0;
    color:#100f0f;
}
.button_g:hover, .button_bigger_g:hover {
    background-color: #c7c7c7b0;
}
.button_br:hover {
    background-color: #db3e33;
}
.button_bb:hover {
    background-color: #4255e6;
}
.button_transparent {
    background-color: #100f0f;
    border: none;
    color: none;
    text-decoration: none;   
}
.Wallet_value {
    background-color: #100f0f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    display: inline;
    width: 100%;
}

/*TABLE*/
table {
    border-collapse: collapse;
    width: 100vw;
}
table, th, td, .ligne {  
    padding: 4px;
}
.ligne{
    border-bottom: 0.5px solid #efefef; 
}
/*text in TABLE*/
.text_tab_2{
    color: grey;
    font-size: 0.7em;
    
}
.text_tab_3{
    
    font-size: 0.9em;
}

/*symbols on left side of the input and select*/
.symbol_euro, .symbol_euro_small, .symbol_qty, .symbol_qty_small, .symbol_search{
    background-position:left;
    background-repeat:no-repeat;
    width:260px; 
    background-size:20px; 
    background-position-x: 10px;
}
.symbol_euro, .symbol_euro_small {
    background-image:url(./pictures/euro.PNG);
}
.symbol_qty, .symbol_qty_small {
    background-image:url(./pictures/coins.PNG);
}
.symbol_search {
    background-image:url(./pictures/search.PNG);
}
.symbol_euro_small, .symbol_qty_small {
    width:140px; 
}

@media (max-width: 3000px){
    .graphs{
        max-width: 500px;
    }
}

@media (max-width: 500px){
    .graphs{
        width: 95%;
    }
}