{% extends 'base.html' %}
{% block body %}

<div class = "top_ban ligne"> <!--Top menu bar-->
    <h1>Crypto Tracker</h1>
    <span class="paramA">
        <!--Bouton "crayon" Modifier transaction(s) -->
        <form action="/wallet_edit" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="../static/pictures/edit.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
        <!--Bouton "+" Ajout d'une transaction-->
        <form action="/cryptoadd" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="../static/pictures/add.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
    </span> 
</div>


<section class="centre margetop">

        

    {% for i in wallet_detailled %}
        <tr><!--line_1-->

            <td colspan="2"><!--qty of purchased crypto with crypto symbol and name-->
                <span>{{i.crypto_qty}}</span>
                <span>{{i.crypto_symbol}}</span>
                <span class = "text_tab_2">({{i.crypto_name}})</span>
            </td>

        </tr>

    {% endfor %}


</section>

{% endblock %}