{% extends 'base.html' %}
{% block body %}

<div class = "top_ban ligne"> <!--Top menu bar-->
    <h1>Crypto Tracker</h1>
    <span class="paramA">
        <!--Bouton "crayon" Modifier transaction(s) -->
        <form action="/wallet_edit" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="../static/pictures/edit.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
        <!--Bouton "+" Ajout d'une transaction-->
        <form action="/cryptoadd" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="../static/pictures/add.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
    </span> 
</div>

<!--dtype=[
    ('crypto_id', '<i4'), 
    ('crypto_logo', '<U250'), 
    ('crypto_actual_value', '<f4'), 
    ('crypto_qty', '<f4'), 
    ('crypto_symbol', '<U10'), 
    ('crypto_name', '<U30'), 
    ('crypto_total_value', '<i4'), 
    ('crypto_total_profit', '<i4'), 
    ('percent_change_24h', '<f4'), 
    ('percent_change_7d', '<f4'), 
    ('tendancy_24h', '<U250'), 
    ('tendancy_7d', '<U250')]"-->
<!--Wallet total value-->
<section class="centre margetop">
    {% if wallet_detailled.crypto_qty %}
        
        <form action="/crypto_history"><!--Button total value (on click : go to history)-->
            <button type="submit" class = "Wallet_value">
                <span>valeur</span>
                <span name = "crypto_unik_id" id = "id_tracker_1" value = {{wallet_detailled.crypto_total_value.sum()}}>{{wallet_detailled.crypto_total_value.sum()}}</span>
                <span> €</span>
                <br>
                <span>profit</span>
                <span name = "crypto_unik_id_colored" id = "id_tracker_2" value = {{wallet_detailled.crypto_total_profit.sum()}}>{{wallet_detailled.crypto_total_profit.sum()}}</span>
                <span> €</span>
            </button>
        </form>
        
        <table><!--Table list of purchased crypto with details-->
            <caption>Récapitulatif portefeuille de crypto monnaie</caption>
            <thead class = "ligne text_tab_2"><!--Column titles-->
                <tr>
                    <th></th>
                    <th colspan="2">Portefeuille</th>
                    <th>24h</th>
                    <th>7j</th>
                </tr>
            </thead>
            <tbody class = "text_tab_3"><!--Body of the table-->
                {% for i in wallet_detailled %}
                    <tr><!--line_1-->
                        <td rowspan="3"><img src="{{i.crypto_logo}}" alt="logo {{i.crypto_name}}" height="30"></td><!--Crypto logo-->
                        <td colspan="2"><!--qty of purchased crypto with crypto symbol and name-->
                            <span>{{i.crypto_qty}}</span>
                            <span>{{i.crypto_symbol}}</span>
                            <span class = "text_tab_2">({{i.crypto_name}})</span>
                        </td>
                        <td><img src="{{i.tendancy_24h}}" alt="logo tendance 24 hours" height="25"></td><!--picture tendancy of the crypto last 24 hours-->
                        <td><img src="{{i.tendancy_7d}}" alt="logo tendance 7 days" height="25"></td><!--picture tendancy of the crypto last 7 days-->    
                    </tr>
                    <tr><!--line_2-->
                        <td>valeur</td>
                        <td><!--Value of the wallet for the current crypto-->
                            <span name = "crypto_unik_id" id = "id_value{{i.crypto_id}}" value = {{i.crypto_total_value}}>{{i.crypto_total_value}}</span>
                            <span> €</span>
                        </td>
                        <td><!--tendancy of the crypto last 24 hours in %-->
                            <span  name = "crypto_unik_id" id = "t_24h" value = {{i.percent_change_24h}}>{{i.percent_change_24h}}</span>
                            <span>%</span>
                        </td>
                        <td><!--tendancy of the crypto last 7 days in %-->
                            <span  name = "crypto_unik_id" id = "t_7d" value = {{i.percent_change_7d}}>{{i.percent_change_7d}}</span>
                            <span>%</span>
                        </td>
                    </tr>
                    <tr class= "ligne"><!--line_3-->
                        <td>profit</td>
                        <td><!--Value of the profit for the current crypto-->  
                            <span name = "crypto_unik_id_colored" id = "id_profit{{i.crypto_id}}" value = {{i.crypto_total_profit}}>{{i.crypto_total_profit}}</span> 
                            <span> €</span>
                        </td> 
                        <td colspan="2" class = "text_tab_2"><!--Exchange rate of the crypto-->
                            <span>1{{i.crypto_symbol}} = </span>
                            <span name = "crypto_unik_id" id = "id_trend{{i.crypto_id}}" value = {{i.crypto_actual_value}}>{{i.crypto_actual_value}}</span>
                            <span> €</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h1>Votre portefeuille de crypto est vide</h1> <!--Message if no crypto in the wallet-->
        <img src="../static/pictures/chat_bubble.PNG" alt="Message information" height="50">
    {% endif %}
</section>

{% endblock %}