{% extends 'base.html' %}
{% block body %}

<div class="top_ban ligne"> <!--Top menu bar-->
    <h1>Crypto Historique</h1>
    <span class="paramA">
        <!--Bouton "graph" Retourner au crypto tracker-->
        <form action="/" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="./static/pictures/home.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
        <!--Bouton "+" Ajout d'une transaction-->
        <form action="/cryptoadd" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="../static/pictures/add.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
    </span> 
</div>
<div class="centre margetop text_1">
    <p>
        <span>Valeur portefeuille* :</span>
        <span name = "crypto_unik_id" id = "wallet_value" value = "{{values.crypto_total_value.sum()}}">{{values.crypto_total_value.sum()}}</span>
        <span> €</span>
    </p>
    <img class="graphs" src="../static/pictures/History.png" alt = "Graphique historique portefeuille">
    <p>
        <span>Profit* : </span>
        <span name = "crypto_unik_id_colored" id = "wallet_result" value = "{{values.crypto_total_profit.sum()}}">{{values.crypto_total_profit.sum()}}</span>
        <span> €</span>
    </p>
    <img class="graphs" src="../static/pictures/History2.png" alt="Graphique historique profit">
    <p class="text_tab_2">* Dernière valeurs calculées au {{day}}</p>
</div> 

{% endblock %}