{% extends 'base.html' %}
{% block body %}

<div class="top_ban ligne"> <!--Top menu bar-->
    <h1>Crypto Edition</h1>
    <span class="paramA">
        <!--Bouton "graph" Retourner au crypto tracker-->
        <form action="/" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="./static/pictures/home.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
        <!--Bouton "+" Ajout d'une transaction-->
        <form action="/cryptoadd" method="get" get class="paramB">
            <button class="button_transparent"> 
                <img 
                    src="../static/pictures/add.PNG" 
                    alt="Update" height="20">
            </button>
        </form>
    </span> 
</div>

<!--Liste des cryptos en portefeuille-->
{% if wallet %}
<table class ="margetop">

    <tbody><!--Contenu tableau-->   
        {% for entry in wallet %}
            <tr><!--ligne 1 : logo + id transaction-->
                <td><img src="{{entry.crypto_logo}}" alt="logo {{entry.crypto_name}}" height="30"></td>
                <td colspan = "3">
                    <span>transaction n° {{entry.crypto_transaction_id}}</span>
                    <br> 
                    <span>{{entry.crypto_transaction_date}}</span>
                </td>
            </tr>
            <form 
            action="/update_transaction/{{entry.crypto_transaction_id}}" 
            name = "editForm"
            method="POST">
                <tr><!--ligne 2 :-->
                    <td colspan = "2" class = "text_tab_3"><span>Qté </span><span>{{entry.crypto_symbol}}</span></td>
                    <td>
                        <input 
                        class = "{{entry.crypto_transaction_id}} symbol_qty_small"
                        name = "crypto_qty" 
                        value='{{entry.crypto_qty}}'
                        disabled
                        type="number" 
                        step="any"
                        >
                    </td>
                    <td>
                        <button 
                        id={{entry.crypto_transaction_id}}
                        type="submit" 
                        name="name" 
                        value="Modifier" 
                        onclick="return modifier(this.id)"
                        class="button_bb">
                            <img 
                            id = "update{{entry.crypto_transaction_id}}"
                            class = "image_abc" 
                            src="../static/pictures/edit.PNG"
                            alt="édition" 
                            height="20">
                        </button>
                                                    
                    </td>
                </tr>
                <tr class= "ligne"><!--ligne 3 :-->
                    <td  colspan = "2" class = "text_tab_3">prix total achat</td>
                    <td>
                        <input 
                        class = "{{entry.crypto_transaction_id}} symbol_euro_small"
                        name = "crypto_purchase_price" 
                        value='{{entry.crypto_purchase_price}}' 
                        disabled
                        type="number" 
                        step="0.01">
                    </td>
            </form>
                    <td>
                        <form action="/delete_transaction/{{entry.crypto_transaction_id}}">
                            <button type="submit" value="Supprimer" class="button_br">
                                <img 
                                src="../static/pictures/bin.PNG" 
                                alt="édition" 
                                height="20"
                                >
                            </button>
                        </form>
                    </td>
                </tr>

        {% endfor %}       
    </tbody>   
</table>
{% else %}
    <!--Message affiché si aucun article-->
    <h1><img src="../static/pictures/chat_bubble.PNG" alt="Message information" height="25">  Votre portefeuille de crypto est vide</h1> <!--Message if no crypto in the wallet-->
    <p>Cliquez sur <img src="../static/pictures/add.PNG" alt="edtition" height="20"> pour ajouter une transaction</p>
{% endif %}






{% endblock %}